#comment {
    width: 21.25rem;
    .rp-comment
    {
        width: 12.5rem
    }
    .edit-comment
    {
      .w-xs
      {
        width: 4.2rem;
      }
      .btn
      {
        height: 1.9rem;
        padding: 0;
        font-weight: 400;
        font-size: .85rem;
      }
      .rp-comment-textarea
       {
          width: 15.38rem;
      }
    }
}
