#select-unit-type-aside {
    width: 450px;
    border-left: 1px solid #eee;
    z-index: 9999 !important;
    background: #fff;
    top: 0;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    .box-shadow, .box-shadow .box, .box-shadow .box-color {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0 rgba(0, 0, 0, 0.03);
    }
}

#select-unit-type {
    .pull-right.filterPad {
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: -10px;
    }
    .rp-grid-filters-1 {
        text-align: center;
    }
    .property-iD {
        width: 20%;
        border-top: solid 0px #e2e2e2;
    }
    .unit-type-iD {
        width: 20%;
        border-top: solid 0px #e2e2e2;
    }
    .name {
        border-top: solid 0px #e2e2e2;
    }
    .unit-count{
        border-top: solid 0px #e2e2e2;
    }
    .rp-grid {
        width: 99%;
        margin-left: -12px;
    }
    .h5 {
        margin-bottom: 0.0rem;
    } 
    .form-control {
        padding-left: 11px;
        padding-top: 0px;
    }
    .am-fade {
        border-left: 1px solid #eee !important;
        width: 340PX !important;
    }
    .p-a.income {
        border-bottom: 0px;
        margin-left: -20px;
        margin-bottom: -20px;
        margin-top: -23px;
    }
    .p-a.income > .h5 {
        margin-left: 20px;
        font-size: 1.0rem;
    }
    .right.w-xl.white.b-l {
        border-left: 0px;
    }

    .list-group.no-radius {
        width: 450px;
        overflow-x: hidden;
        margin-bottom: 35px;
    }
    .b-t {
        border-top: 1px solid rgba(120,130,140,.13);
    }
    .p-r-0 {
        position: fixed;
        bottom: -13px;
        margin-left: 68px;
    }
    .p-x-md {
        margin-bottom: 23px;
    }
    .p-a.b-t {
        float: right;
        bottom: 0;
        background: #fff;
        width: 450px;
        height: 56px;
        position: fixed;
    }    
    .rp-form-input-text-icon:before {
        opacity: 0.3;
        margin-left: 276px;
        margin-top: -39px;
    }   
    .row-body {
        overflow: visible;
    }
    .top-spacer {
        border-left: 0px;
        width: 450px;
    }
    .p-a {
        border-bottom: 1px solid #ececec;
    }
    .list-group-item:first-child {
        margin-left: 28px;
        width: 308px;
    }
    .list-group-item p-x-md {
        border-bottom: 1px solid #cbcbcb;
        border-left: 0px;
        border-right: 0px;
    }
    .list-group-item div {
        margin-left: 32px;
        margin-top: 9px;
    }
    .block {
        margin-top: 10px;
    }
    .row.mb {
        background-color: #f8f8f8;
    }
    .form-group row {
        margin-left: 2px;
        margin-right: 0px;
    }
    .ft-form {
        margin-left: 10px;
        margin-right: 10px;
    }
    .pull-left {
        width: auto;
        margin-top: 9px;
        margin-left: 21px;
    }
    .list-group-item p-x-md {
        border-left: 0px;
        border-right: 0px;
        width: 336px;
    }
    .list-group-item {
        margin-left: 20px;
        margin-bottom: -10px;
        width: 308px;
        border: 1px solid #ddd;
    }
    .m-l {
        margin-left: 2rem !important;
    }
    .streamline {
        margin-top: -14px;
    }
    .p-x-md .m-t .p-v-xs {
        margin-left: 1rem;
    }
    .m-t {
        margin-left: 2rem;
        color: #333;
    }
    .sl-left {
        margin-top: -10px;
        margin-bottom: 14px;
    }
    .reponses-top {
        margin-top: 10px;
        width: 280px;
    }
    .rp-form-textarea-field {
        border: 1px solid #2e9cf3;
        margin-top: -12px;
        margin-left: -5px;
        width: 107%;
    }
    .r-ap {
        width: 270px;
        font-size: 13px;
    }
    .list-group.list-group-md.box-shadow {
        margin-top: 15px;
        background-color: #f8f8f8;
    }
   
    label {
        margin-left: 4px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    .input-group-addon {
        border-radius: 0px;
        border: 1px solid #cbcbcb !important;
        padding-left: 15px;
    }

    .btn.rounded {
        margin-top: 4px;      
        margin-left: 6px;
    }
}
