<div class="modal" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" ng-bind="title"></h5>
            </div>
            <div class="modal-body">
                <div class="dialog-padding-left p-t-sm">
                    <i class="rp-icon-question-circle"></i>
                    <span class="m-b-sm" ng-bind="content"></span>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn rounded primary p-x-md pull-right m-l-1" ng-click="$hide()">OK</button>
            </div>
        </div>
    </div>
</div>
