<span ng-if="record.rowType !== 'monthlyAmount'" ng-class="{'text-right' : record.config.key.indexOf('period') !=-1 }">
    {{record[config.key]}}
</span>
<span ng-if="record.rowType === 'monthlyAmount'" class="monthly-row">
    {{record[config.key]}}
    <input name="variableAmountMonthly"
           ng-model="record.monthlyAmt"
           ng-model-options="{updateOn:'blur'}"
           class="form-control form-control-sm rp-currency-editable rent-calculator-amt pull-right"
           type="text" />
</span>