<div ng-if="!model.ruleState.isEdit">
    {{record.operator  === "AboveORBelow" ? "Above OR Below" : record.operator}}
</div>
<div ng-if="model.ruleState.isEdit">
    <!--<input type="text" ng-model="record.note" />-->
    <!--<select ng-model="record.operator"
            class="form-control "
            rp-select-options="model.crtOptions"
            rp-wrapper-class="block"
            rp-update-display-text="true"
            ng-options="s.value as s.name for s in model.crtOptions.options"></select>-->
    <rp-form-select-menu config="model.formConfig.crtria" rp-model="record.operator">
    </rp-form-select-menu>
</div>