#payroll-item-bonus {
    .add-icon {
        font-size: medium;
        color: forestgreen;
    }
    .delete-icon {
        font-size: medium;
        padding-left: 11px;
        padding-right: 11px;
    }
    .rp-cg-locked {
	    .rp-input-text {
	        input {
				width: 195px;
	        }
	    }
	}
}
