<span ng-if="model.contractState.page === 'view'">
	{{record.glAccountNumber}} - {{record.glDescription}}
</span>

<div ng-if="model.contractState.page !== 'view'">

	<div class="text-primary toggle-allocation-state" 
			ng-click="config.selectGLAccount(record)"
			ng-if="record.editGLAccount == false">
		<span ng-if="record.glAccount.glAccountNumber">
			{{record.glAccount.glAccountNumber}} - {{record.glAccount.glAccountDescription}}
		</span>
		<span ng-if="!record.glAccount.glAccountNumber">
			Search and select for a GL Account
		</span>

	</div>

	<gl-accnt-search data="record.glAccount"
		ng-if="record.editGLAccount === true"></gl-accnt-search>	
</div>






