.other-options{
	.form-control-static{
		.editable-select{
			width: 100% !important;
		}
	}
   .display-lbl-block{
       display: block;
   }

     .tool-tip-product {
           width: 99%;
           left: 145px;
           top: -31px;
          position: absolute;
    }

}