<table>
    <tr>
        <td style="font-size: 12pt; font-weight: bold;">
            Update beginning occupied <span  style="font-size: 12pt; font-weight: bold;">{{modal.content.beginingUnits}}</span>
        </td>
    </tr>
    <tr>
        <td style="height: 25px;"></td>
    </tr>
    <tr>
        <td style="font-style: italic;">
            The "Beginning occupied <span style="font-style: italic;">{{modal.content.beginingUnits}}</span>" for the first period is considered to be the "ending"
            occupied number of <span   style="font-style: italic;">{{modal.content.beginingUnits}}</span> for the year before this budget year. This gives us a starting
            point to calculate the "Ending occupied units" after adjusting for move-ins and
            move-outs.
        </td>
    </tr>
    <tr>
        <td style="height: 20px;"></td>
    </tr>
    <tr>
        <td style="font-style: italic;">
            You may update this field from the current number of occupied <span style="font-style: italic;">{{modal.content.beginingUnits}}</span> for this property
            by clicking the "Update" button below. Click the "Cancel" button to leave this number
            unchanged and close this window.
        </td>
    </tr>
    <tr>
        <td style="height: 20px;"></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            The current number of Occupied <span >{{modal.content.beginingUnits}}</span> is &nbsp; <span style="font-weight: bold;">{{modal.content.unitsCount}}</span>
        </td>
    </tr>
    <tr>
        <td style="height: 30px;"></td>
    </tr>
</table>

