.workspaces
{
    .btn-min-width
    {
        width: 150px;
    }
    .rp-scrolling-tabs-screen
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
     .status-inner {
        position: relative;
        bottom: 0.25rem;
        //margin-top: 0.46rem;
    }
    .md-check
    {
        top: .1rem;
    }
    .title-display {
        display: inline-block;
    }
}