//  Framework Paths

$rpPath:            '../../../../_rp/';
$rpApp:             '#{$rpPath}_app/';
$rpCommon:          '#{$rpPath}_common/';
$rpForm:            '#{$rpPath}form/';
$rpFonts:           '#{$rpPath}fonts/';

$rpAssetPath:       '../../../../rp/';
$rpAssetCore:       '#{$rpAssetPath}app/';
$rpAssetCommon:     '#{$rpAssetPath}common/';