#define-schedule-wrapper {
	.scheduled-charges {
		.md-btn {
			text-transform: none;
			font-weight: normal;
		}
	}

	.calculation-table-wrapper {
		overflow-x: auto;
	}

	.calculation-table {
		min-width: 1000px;

		.rp-grid-headers-1 {
			background-color: $rp-primary;
			
			.rp-grid-cell {
				border-right: 1px solid $rp-primary-03;
				padding: 0.3rem;
				text-align: right;

				&:last-child {
					border-right: 0;
				}
			}

			.rp-grid-text {
				color: $white;
				@include medium-text;
			}
		}

		.rp-grid-body-wrap {
			min-height: 60px;
		}

		.rp-grid-cell {
			&.year {
				padding: 5px;
				text-align: center;
				width: 8%;
			}

			&.total {
				padding: 5px;
				text-align: right;
				width: 10%;
			}
		}

		.rp-pricing-editable {
			text-align: right;
			font-size: 0.75rem;
			padding: 5px;
		}
	}
}