<div class="rp-wizard-step" rp-wizard-step-id="step2" ng-class="step2.getState()" ng-cloak>

    <!-- TODO get labels from jslang(?) -->
    <div class="rp-wizard-hd">
        <div class="rp-wizard-controls pull-right">
            <span class="button white prev" ng-click="step2.prev()">
                Back
            </span>
            <span class="button next" ng-click="step2.next()">
                Next
            </span>
        </div>

        <h2 class="rp-wizard-step-title">
            Attach Documents
        </h2>
    </div>

    <div class="rp-wizard-step-content">
        ...
    </div>

</div>